<!DOCTYPE html>
  <html lang="en" ng-app="buzzfeed">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  </head>

  <body ng-controller="QuestionsController">
  <div class="container">
    <h1>What Kind of Beer Drinker Are You?</h1>
    <div class="question">
      <h3>Movie: Star Wars, Star Trek, Harry Potter, or Lord of the Rings?</h3>
      <form class="checkbox">
        <div class="col-md-4">
          <input type="radio" ng-model="answers.movie" value="starWars"> Star Wars
          <br>
          <input type="radio" ng-model="answers.movie" value="starTrek"> Star Trek
        </div>
        <div class="col-md-6">
          <input type="radio" ng-model="answers.movie" value="harryPotter"> Harry Potter
          <br>
          <input type="radio" ng-model="answers.movie" value="lotr"> Lord of the Rings
        </div>
      </form>
    </div>
    <br>
    <div class="question">
      <h3>Condiment: Ketchup, Mustard, Mayonnaise, or BBQ sauce?</h3>
      <form>
        <div class="col-md-4">
          <input type="radio" ng-model="answers.condiment" value="ketchup"> Ketchup
          <br>
          <input type="radio" ng-model="answers.condiment" value="mustard"> Mustard
        </div>
        <div class="col-md-6">
          <input type="radio" ng-model="answers.condiment" value="mayonnaise"> Mayonnaise
          <br>
          <input type="radio" ng-model="answers.condiment" value="bbqSauce"> BBQ Sauce
        </div>
      </form>
    </div>
    <br>
    <div class="question">
      <h3>Pet: Cats, Dogs, Fish, or Snakes?</h3>
      <form>
        <div class="col-md-4">
          <input type="radio" ng-model="answers.pet" value="cats"> Cats
          <br>
          <input type="radio" ng-model="answers.pet" value="dogs"> Dogs
        </div>
        <div class="col-md-6">
          <input type="radio" ng-model="answers.pet" value="fish"> Fish
          <br>
          <input type="radio" ng-model="answers.pet" value="snakes"> Snakes
        </div>
      </form>
    </div>
    <br>
    <div class="question">
      <h3>Vacation: Mountains, Beach or Lake?</h3>
      <form>
        <div class="col-md-4">
          <input type="radio" ng-model="answers.vacation" value="mountains"> Mountains
          <br>
          <input type="radio" ng-model="answers.vacation" value="beach"> Beach
        </div>
        <div class="col-md-6">
          <input type="radio" ng-model="answers.vacation" value="lake"> Lake

        </div>
      </form>
    </div>
    <br>
    <div class="question">
      <h3>Breakfast: Pancakes, Waffles, or French Toast?</h3>
      <form>
        <div class="col-md-4">
          <input type="radio" ng-model="answers.breakfast" value="pancakes"> Pancakes
          <br>
          <input type="radio" ng-model="answers.breakfast" value="waffles"> Waffles
        </div>
        <div class="col-md-6">
          <input type="radio" ng-model="answers.breakfast" value="frenchToast"> French Toast
        </div>
      </form>
    </div>
    <br>
    <div class="question">
      <h3>Fruit: Apple, Orange, Pineapple, or Mango</h3>
      <form>
        <div class="col-md-4">
          <input type="radio" ng-model="answers.fruit" value="apple"> Apple
          <br>
          <input type="radio" ng-model="answers.fruit" value="orange"> Orange
        </div>
        <div class="col-md-6">
          <input type="radio" ng-model="answers.fruit" value="pineapple"> Pineapple
          <br>
          <input type="radio" ng-model="answers.fruit" value="mango"> Mango
        </div>
      </form>
      <br>
      <br>
      <br>
      <form>
        <div class="col-md-6">
          Enter your email address for results!
          <br>
          <input type="email" name="email">
          <button type="button" ng-click="submit()">Submit!</button>
        </div>
      </form>
    </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script type="text/javascript" src="questions.ctrl.js"></script>
  <script type="text/javascript" src="questions.service.js"></script>
  <script type="text/javascript" src="app.js"></script>

  </body>